<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>404 - Não encontrado</title>
</head>

<body>
    <div layout:fragment="conteudo">
        <main class="container">
            <section class="card">
                <h1 class="text-center">Ops! Página não encontrada</h1>
                <p class="text-center">A página que você está procurando não existe ou foi movida 🧐</p>
            </section>
        </main>
    </div>
</body>
</html>
